<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{% block title %}首页{% endblock %}-typeidea博客系统</title>
</head>
<body>
<div>顶部分类:
	{% for cate in navs %}
	<a href="/category/{{ cate.id}}">{{ cate.name }}</a>
	{% endfor %}
</div>
<hr>

{% block main %}
<!---此处添加页面内容--->
{% endblock %}

<hr>
<div>底部分类:
	{% for cate in categorise %}
	<a href="/category/{{ cate.id }}">{{ cate.name }}</a>
	{% endfor %}
</div>

<hr>
<div>侧边栏:
	{% for sidebar in sidebars %}
	<h4>{{ sidebar.title }}</h4>
	{{ sidebar.context }}
	{% endfor %}
</body>
</html>
